.btn{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to bottom right, #e90000, #600101);
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-text-fill: linear-gradient(to bottom right, #e90000, #600101);
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.btn:hover{
    -fx-background-color: #dbdbdb;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #fffeef;
}

.btn:pressed{
    -fx-background-color: #951d9b;
}

.split-pan