.btn{
    -fx-background-color: trasparent;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to bottom right, #e90000, #600101);
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-text-fill: linear-gradient(to bottom right, #e90000, #600101);
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.btn:hover{
    -fx-background-color: #dbdbdb;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: linear-gradient(to bottom right, #e90000, #600101);
}

.btn:pressed{
    -fx-background-color: linear-gradient(to bottom right, #e90000, #600101);
    -fx-text-fill: white;
}

/*******Label*******/

#lblFondo{
    -fx-text-fill: linear-gradient(to bottom right, #e90000, #600101);
}

#lblTitolo{
    -fx-text-fill: linear-gradient(to bottom right, #e90000, #600101);
}

/****** listView *******/

.list-cell{
    -fx-text-fill: linear-gradient(to bottom right, #e90000, #600101);
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.list-view{
    -fx-border-color: linear-gradient(to bottom right, #e90000, #600101);
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: #fffeef;
    -fx-border-width: 3 3 3 3;
    -fx-border-radius: 2;
    -fx-cursor: hand;
}

/******** scroll bar *****/
/*.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button,
.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button{
    -fx-background-color: trasparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal *.increment-arrow,
.scroll-bar:horizontal *.decrement-arrow,
.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow{
    -fx-background-color: #fffeef;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal *.track,
.scroll-bar:vertical *.track {
    -fx-background-color: trasparent;
}

.scroll-bar:horizontal *.thumb,
.scroll-bar:vertical *.thumb {
    -fx-background-color: #fffeef;
}*/